name: Hello CI

on:
  push:
    paths:
      - "calc.py"
      - "test_calc.py"
      - ".github/workflows/hello-ci.yml"

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - run: pip install pytest
      - run: pytest
